*.pyc
*.save
*.save
*.1
*.save
Python/src/mysite/myapp/views.py.save
Python/src/mysite/mysite/__init__.pyc
*.pyc
*.pyc
*.save
Python/src/mysite/myapp/views.py.save
Python/src/mysite/myapp/views.py.save
Python/src/mysite/myapp/views.py.save